name: Validate
on:
  push:
    branches:
       - main
  pull_request:
    branches:
      - main
    types:
      - assigned
      - opened
      - synchronize
      - reopened
env:
  CSP_API_URL: https://console.cloud.vmware.com
  CSP_API_TOKEN: ${{ secrets.CSP_API_TOKEN }}
  VIB_PUBLIC_URL: https://cp.bromelia.vmware.com
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set Node.js 16.x
      uses: actions/setup-node@v2
      with:
        node-version: 16.x

    - name: Install dependencies
      run: npm ci

    - name: Compile
      run: npm run build

    - name: Lint
      run: npm run lint

    - name: Format Check
      run: npm run format-check

    - name: Package
      run: npm run package

    - name: Compare the expected and actual dist/ directories
      run: |
        if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
          echo "Detected $(git diff --ignore-space-at-eol dist/ | wc -l) uncommitted changes after build."
          exit 1
        fi
      id: diff

    - name: Functional Tests
      run: npm test

  bump-and-tag:
     name: 'Package, Bump Version and Tag'
     runs-on: ubuntu-latest
     needs: build
     if: ${{ !contains(github.event.head_commit.message, 'skip ci') && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
     steps:
       - name: Print environment
         run: env

       - name: Print event information
         run: cat $GITHUB_EVENT_PATH

       - name: 'Checkout with privileged token'
         uses: 'actions/checkout@v2'
         with:
           ref: ${{ github.ref }}
           token: ${{ secrets.VIB_ACTION_TOKEN }}
           persist-credentials: false
           fetch-depth: 0

       - name: Set Node.js 16.x
         uses: actions/setup-node@v2
         with:
           node-version: 16.x

       - name: Cache dependencies
         uses: actions/cache@v3
         with:
           path: ~/.npm
           key: npm-${{ hashFiles('package-lock.json') }}
           restore-keys: npm-

       - name: Install dependencies
         run: npm ci

       - name: Compile
         run: npm run build

       - name: Package
         run: npm run package

       - name: 'Show package content'
         run: cat ./package.json

       - name: 'Automated Version Bump'
         id: version-bump
         uses: 'phips28/gh-action-bump-version@v9.0.1'
         with:
           commit-message: '[AUTOMATED] Bumps version to {{version}} [skip ci]'
         env:
           GITHUB_TOKEN: ${{ secrets.VIB_ACTION_TOKEN }}

       - name: 'cat package.json'
         run: cat ./package.json

       - name: 'Output Step'
         env:
           NEW_TAG: ${{ steps.version-bump.outputs.newTag }}
         run: echo "new tag $NEW_TAG"